<form id="app-form" class="layui-form layuimini-form">
    <div class="layui-form-item">
        <tip style="font-size: 15px;color: red;font-weight:bold;">推荐奖励</tip>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">下级质押了DTM，上级可获得质押金额 x 比例的推荐奖励</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">下级会员投资收益的</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="zt_ratio" value="{:sysconfig('other','zt_ratio')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>

    <div class="layui-form-item">
        <tip style="font-size: 15px;color: red;font-weight:bold;">质押DTM</tip>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">投资</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="zy_min" value="{:sysconfig('other','zy_min')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">DTM起步，每天平均返回利息，到期返还本金，每日凌晨派发利息</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">投资1天，利息：</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="zy1_lx" value="{:sysconfig('other','zy1_lx')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">投资7天，利息：</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="zy7_lx" value="{:sysconfig('other','zy7_lx')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">投资15天，利息：</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="zy15_lx" value="{:sysconfig('other','zy15_lx')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">投资30天，利息：</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="zy30_lx" value="{:sysconfig('other','zy30_lx')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">提前解押：扣</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="zy_jy" value="{:sysconfig('other','zy_jy')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%本金，退回已派发利息。</div>
        </div>
    </div>

    <div class="layui-form-item">
        <tip style="font-size: 15px;color: red;font-weight:bold;">其他</tip>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">充值地址(TRC20)：</div>
            <div class="layui-input-inline" style="width: 500px;">
                <input type="text" name="recharge_address" value="{:sysconfig('other','recharge_address')}" placeholder="请输入充值地址(TRC20)" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">DTM/USDT价格：</div>
            <div class="layui-input-inline">
                <input type="text" name="dtm_usdt_price" value="{:sysconfig('other','dtm_usdt_price')}" placeholder="请输入DTM/USDT价格" class="layui-input">
            </div>
        </div>
    </div>
    <div class="hr-line"></div>
    <div class="layui-form-item text-center">
        <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="system.config/save" data-refresh="false">确认</button>
        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
    </div>

</form>