<form id="app-form" class="layui-form layuimini-form">
    <div class="layui-form-item">
        <tip style="font-size: 15px;color: red;font-weight:bold;">兑换规则</tip>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">DTM单次最低兑换数量：</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="business_deal_min" value="{:sysconfig('other','business_deal_min')}" placeholder="请输入DTM最低交易数量" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">DTM/USDT当前价格：</div>
            <div class="layui-input-inline" style="width: 200px;">
                <input type="text" name="dtm_usdt_price" value="{:sysconfig('other','dtm_usdt_price')}" placeholder="请输入DTM/USDT价格" class="layui-input">
            </div>
            <div class="layui-form-mid">USDT</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">充值USDT兑换（跟平台买卖）DTM ，买一次价格涨一点，卖一次价格跌一点，价格单位USDT，每次买卖DTM或USDT后价格增减比例：</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="dtm_usdt_incdec" value="{:sysconfig('other','dtm_usdt_incdec')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%，当DTM/USDT价格低于</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="min_dtm_usdt_price" value="{:sysconfig('other','min_dtm_usdt_price')}" placeholder="请输入价格" class="layui-input">
            </div>
            <div class="layui-form-mid">时，不再继续下跌</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">买入：扣</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="buy_fee" value="{:sysconfig('other','buy_fee')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%手续费，剩下的再拿</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="auto_buy_bl" value="{:sysconfig('other','auto_buy_bl')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%自动购买7天的质押，最后的剩下的才是实际到账的
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">卖出：下面有三个人排队时，扣</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="sell_fee1" value="{:sysconfig('other','sell_fee1')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%手续费，否则扣</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="sell_fee2" value="{:sysconfig('other','sell_fee2')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>

    <div class="layui-form-item">
        <tip style="font-size: 15px;color: red;font-weight:bold;">推荐奖励</tip>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">三代奖励，下级质押了DTM，上面3代可获得质押金额 x 比例的推荐奖励，其中</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">1代奖励</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="tjj1" value="{:sysconfig('other','tjj1')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">2代奖励</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="tjj2" value="{:sysconfig('other','tjj2')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">3代奖励</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="tjj3" value="{:sysconfig('other','tjj3')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>

    <div class="layui-form-item">
        <tip style="font-size: 15px;color: red;font-weight:bold;">收益奖励</tip>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">三代奖励，下级投资后每天获得收益了，上面3代可获得收益金额 x 比例的收益奖励，其中</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">1代奖励</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="syj1" value="{:sysconfig('other','syj1')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">2代奖励</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="syj2" value="{:sysconfig('other','syj2')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">3代奖励</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="syj3" value="{:sysconfig('other','syj3')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>

    <div class="layui-form-item">
        <tip style="font-size: 15px;color: red;font-weight:bold;">质押DTM</tip>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">质押</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="zy_min" value="{:sysconfig('other','zy_min')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">DTM起步，每天平均返回利息，到期返还本金，每日凌晨派发利息</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">质押1天，利息：</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="zy1_lx" value="{:sysconfig('other','zy1_lx')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">质押7天，利息：</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="zy7_lx" value="{:sysconfig('other','zy7_lx')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">质押15天，利息：</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="zy15_lx" value="{:sysconfig('other','zy15_lx')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">质押30天，利息：</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="zy30_lx" value="{:sysconfig('other','zy30_lx')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">提前解押：扣</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="zy_jy" value="{:sysconfig('other','zy_jy')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%本金，退回已派发利息。</div>
        </div>
    </div>

    <div class="layui-form-item">
        <tip style="font-size: 15px;color: red;font-weight:bold;">分红</tip>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">拿出</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="fh_sxf_bl" value="{:sysconfig('other','fh_sxf_bl')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%买卖手续费，每日凌晨分红</div>
        </div>
    </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <div class="layui-form-mid">下面有三人排队了、并且自己DTM余额不低于</div>
                <div class="layui-input-inline" style="width: 100px;">
                    <input type="text" name="fh_ye_min" value="{:sysconfig('other','fh_ye_min')}" placeholder="请输入比例" class="layui-input">
                </div>
                <div class="layui-form-mid">时才可参与分红</div>
            </div>
        </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">分红时，以DTM余额为基准，按100的倍数获得一个分红权，比如：200就占2个分红权，以此类推，最后算下总共多少个分红权力，然后每个权力多少钱，进行派发</div>
        </div>
    </div>


    <div class="layui-form-item">
        <tip style="font-size: 15px;color: red;font-weight:bold;">其他</tip>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">充值地址(BSC20)：</div>
            <div class="layui-input-inline" style="width: 500px;">
                <input type="text" name="recharge_address" value="{:sysconfig('other','recharge_address')}" placeholder="请输入充值地址(BSC20)" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">我推荐的人，充值</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="team_recharge" value="{:sysconfig('other','team_recharge')}" placeholder="请输入金额" class="layui-input">
            </div>
            <div class="layui-form-mid">USDT或者以上，就能排列在我下面，分三条线，三轨制度</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">累计充值</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="tg_recharge" value="{:sysconfig('other','tg_recharge')}" placeholder="请输入金额" class="layui-input">
            </div>
            <div class="layui-form-mid">USDT以上才显示</div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <div class="layui-form-mid">BUSD提币手续费</div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" name="withdraw_fee" value="{:sysconfig('other','withdraw_fee')}" placeholder="请输入比例" class="layui-input">
            </div>
            <div class="layui-form-mid">%</div>
        </div>
    </div>

    <div class="hr-line"></div>
    <div class="layui-form-item text-center">
        <button type="submit" class="layui-btn layui-btn-normal layui-btn-sm" lay-submit="system.config/save" data-refresh="false">确认</button>
        <button type="reset" class="layui-btn layui-btn-primary layui-btn-sm">重置</button>
    </div>

</form>