<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" href="/css/style.css?v={:time()}">
    <link rel="stylesheet" href="/layui/css/layui.css">

    <script>
        (function (doc, win) {
            var htmlEle = doc.documentElement;
            var reload = "orientationchange" in window ? "orientationchange" : "resize";
            function setFontsize() {
                var clientWidth = htmlEle.clientWidth;
                if (!clientWidth) return;
                htmlEle.style.fontSize = 75 * (clientWidth / 750) + "px";
            }
            win.addEventListener(reload, setFontsize, false);
            doc.addEventListener("DOMContentLoaded", setFontsize, false);
        })(document, window);
    </script>
    <style>.layui-layer-content{color: #000!important;}</style>
</head>
<body>

<input type="hidden" id="token" value="">

<div class="header clearfix">
    <div class="header-title">订单</div>
</div>

<div class="container">
    <ul class="order-list">

    </ul>
</div>

<div class="tabbar">
    <div class="tabbar-placeholder"></div>
    <ul class="clearfix">
        <li><a href="/"><i class="i1"></i>理财</a></li>
        <li class="active"><a href="/order"><i class="i2"></i>订单</a></li>
        <li><a href="/user"><i class="i3"></i>我的</a></li>
    </ul>
</div>

<script id="list" type="text/html">
    {{# if (d.length){ }}
        {{# layui.each(d, function(i, v){ }}
            <li onclick="release({{ v.id }}, {{ v.status }})">
                <div class="title">
                    <div class="label">质押金额</div>
                    <div class="value">{{ v.amount }} DTM</div>
                </div>
                <div class="subtitle">
                    <div class="label">质押时间</div>
                    <div class="value">{{ v.create_time }}</div>
                </div>
                <div class="subtitle">
                    <div class="label">质押状态</div>
                    <div class="value">{{ v.types_name }}</div>
                </div>
            </li>
        {{# }); }}
    {{# } else { }}
        <li>
            <div class="subtitle">
                <div style="text-align: center;">暂无数据</div>
            </div>
        </li>
    {{# } }}
</script>

<script src="/js/jquery.min.js"></script>
<script src="/js/php.js"></script>
<script src="/layui/layui.all.js"></script>
<script src="/js/app.js?v={:time()}"></script>

<script>
    $(function () {
        get_order();
    });

    function release(order_id, status) {
        let address = getAddress();
        let token = $('#token').val();

        if (status == 1) {
            layer.msg('订单已经到期，无须操作', {icon:2, skin:'white'}, function () {});
            return;
        }
        if (status == 2) {
            layer.msg('订单已解押，无须操作', {icon:2, skin:'white'}, function () {});
            return;
        }

        if (empty(address)) {
            layer.msg('请先连接钱包', {icon:2, skin:'white'}, function () {});
            return;
        }

        layer.confirm('提前解押需扣除一定比例的本金，并向平台退回已派发利息，是否继续?', {icon: 3, title:'提前解押'}, function(index){
            layer.close(index);
            $.ajax({
                url: '/release',
                type: 'POST',
                dataType: 'json',
                data: {address: address, token:token, order_id:order_id},
                success: function (res) {
                    if (res.code == 1){
                        layer.msg(res.msg, {icon:1});
                        setTimeout(function () {
                            window.location.reload();
                        });
                        return true;
                    }
                    layer.msg(res.msg, {icon:2});
                },
                error: function () {
                    console.log('error');
                }
            });
        });
    }
</script>

</body>
</html>
